.lead{font-size:16px;}
.page-header{margin-bottom:30px;}
.page-header .lead{margin-bottom:10px;}
.container{width:970px;max-width:none !important;}
.col-xs-4{padding-top:15px;padding-bottom:15px;}
.container .navbar-header,
.container .navbar-collapse{margin-right:0;margin-left:0;}
.navbar-header{float:left;}
.navbar-collapse{display:block !important;height:auto !important;padding-bottom:0;overflow:visible !important;visibility:visible !important;}
.navbar-toggle{display:none;}
.navbar-collapse{border-top:0;}
.navbar-brand{margin-left:-15px;}
.navbar-nav{float:left;margin:0;}
.navbar-nav > li{float:left;}
.navbar-nav > li > a{padding:15px;}
.navbar-nav.navbar-right{float:right;}
.navbar .navbar-nav .open .dropdown-menu{position:absolute;float:left;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-width:0 1px 1px;border-radius:0 0 4px 4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#333;}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus{color:#fff !important;background-color:#428bca !important;}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus{color:#999 !important;background-color:transparent !important;}
.navbar-form{float:left;width:auto;padding-top:0;padding-bottom:0;margin-right:0;margin-left:0;border:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle;}
.navbar-form .form-control{display:inline-block;width:auto;vertical-align:middle;}
.navbar-form .form-control-static{display:inline-block;}
.navbar-form .input-group{display:inline-table;vertical-align:middle;}
.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control{width:auto;}
.navbar-form .input-group > .form-control{width:100%;}
.navbar-form .control-label{margin-bottom:0;vertical-align:middle;}
.navbar-form .radio,
.navbar-form .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle;}
.navbar-form .radio label,
.navbar-form .checkbox label{padding-left:0;}
.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"]{position:relative;margin-left:0;}
.navbar-form .has-feedback .form-control-feedback{top:0;}
.form-inline .form-group{display:inline-block;margin-bottom:0;vertical-align:middle;}
.form-inline .form-control{display:inline-block;width:auto;vertical-align:middle;}
.form-inline .form-control-static{display:inline-block;}
.form-inline .input-group{display:inline-table;vertical-align:middle;}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control{width:auto;}
.form-inline .input-group > .form-control{width:100%;}
.form-inline .control-label{margin-bottom:0;vertical-align:middle;}
.form-inline .radio,
.form-inline .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle;}
.form-inline .radio label,
.form-inline .checkbox label{padding-left:0;}
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"]{position:relative;margin-left:0;}
.form-inline .has-feedback .form-control-feedback{top:0;}