@charset "utf-8";
@import url('fonts.css');
/*
FONTS DISPOniveis

*/
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top3{margin-top:3px;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top170{margin-top:170px !important;}
.top175{margin-top:175px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top280{margin-top:280px !important;}
.top195{margin-top:195px !important;}
.top210{margin-top:210px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}

.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px !important;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pt330{padding-top:330px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg20{padding: 20px !important;}

.container{width:1170px !important;}
.input100{width:100% !important;}

body{
	font-family: 'Lato', sans-serif !important;
	font-weight: 400 !important;
}

h1{
	font-size: 20px;
	color: #6e6e6e;
	font-family:"Lato Black";
}



h1 span {
	font-size: 52px;
	color: #fff;
	text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
}



h2 {
	font-size: 40px;
	color: #000;
	font-family:"Lato Black";
}

h2 span{
	font-size: 25px;
	color: #000;
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
}


h3{
	font-size: 30px;
	color: #000;
	font-family:"Lato Black";
}

h3 span{


}

h4 {
	margin-top: 409px;
	font-size: 58px;
	color: #fff;
	font-family:"Lato Black";
	line-height: 20px;
	text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
}

h4 span{
	margin: 0;
	font-size: 23px;
}



h5{
	font-size: 20px;
	color: #000;
	font-family:"Lato Black";
}

h5 span{
	font-size: 17px;
	font-family: 'Lato', sans-serif ;
	font-weight: 400;
}

h6{
	/*
	color: #fff;
	font-weight: 400;
	text-shadow:1px 2px 5px #0f0f0f;*/
}

h6 span{

}



p{
	font-size: 20px;
	color: #000;
	text-align:justify;
	font-weight: 300;
}

p span{
	font-size: 15px;
	color: #6e6e6e;
	font-weight: 400;
	text-align: left;
}



/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/
#cboxContent {background: none !important;}
#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
#cboxSlideshow {color: #fff !important;}
#cboxPrevious{left: 28px!important;}
#cboxNext{left: 56px!important;}
#cboxCurrent{left: 90px !important;}
#cboxClose{right: 28px !important;}
#cboxSlideshow{right: 60px !important;}
/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/

.font-futura{font-family:futura__condensed;}

.lato_bold{
	font-family:"Lato Bold";
}

.MyriadPro_Regular{
	font-family:MyriadPro-Regular;}

	.lato_black{
		font-family:"Lato Black";
	}

	a:hover{
		text-decoration: none !important;
	}

	.media-left,
	.media-right,
	.media-body {
		vertical-align: middle !important;
	}

	.relativo{
		position: relative;
	}



	input,
	select,
	textarea{
		min-height: 42px;
		color:#000;
		border-radius: 0 !important;
		font-size: 20px;
		font-weight: 400;
	}


	::-webkit-input-placeholder {
		color      : #000;
		font-family:"Lato Bold";
		font-size  : 20px;
	}

	:-moz-placeholder {
		color      : #000;
		font-family:"Lato Bold";
		font-size  : 20px;
	}

	::-moz-placeholder {
		color      : #000;
		font-family:"Lato Bold";
		font-size  : 20px;
	}

	:-ms-input-placeholder {
		color      : #000;
		font-family:"Lato Bold";
		font-size  : 20px;
	}

	.btn{
		border-radius: 0px;
	}


	.padding0{
		padding: 0px !important;
	}



	/*==================================================
	* Effect 6
	* ===============================================*/
	.effect6
	{
		position:relative;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	.effect6:before, .effect6:after
	{
		content:"";
		position:absolute;
		z-index:-1;
		-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
		-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
		box-shadow:0 0 20px rgba(0,0,0,0.8);
		top:50%;
		bottom:0;
		left:10px;
		right:10px;
		-moz-border-radius:100px / 10px;
		border-radius:100px / 10px;
	}
	.effect6:after
	{
		right:10px;
		left:auto;
		-webkit-transform:skew(8deg) rotate(3deg);
		-moz-transform:skew(8deg) rotate(3deg);
		-ms-transform:skew(8deg) rotate(3deg);
		-o-transform:skew(8deg) rotate(3deg);
		transform:skew(8deg) rotate(3deg);
	}
	/*==================================================
	* Effect 2
	* ===============================================*/
	.effect2
	{
		position: relative;
	}
	.effect2:before, .effect2:after
	{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: #777;
		-webkit-box-shadow: 0 15px 10px #777;
		-moz-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	.effect2:after
	{
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}




	/**
	============================================
	TOPO
	============================================
	*/

	.topo-site {
		position: absolute;
		top: 0px;
		z-index: 1;
		width: 100%;
	}

	.topo{
		border-top: 5px solid #002953;
	}

	.menu a{
		font-size: 15px;
		color: #000;
		font-family:"Lato Black";
	}

	/*.menu .navbar-nav > li > a:last-child{
	background: none;
	}*/

	.menu .navbar-nav > li > a{
		padding: 3px 10px;
		margin-top: 12px;
		background: url(../imgs/barra_vertical_topo.png) right center no-repeat;
	}

	.menu .nav>li>a:hover,
	.menu .nav>li>a:focus,
	.menu .nav li a.active{
		border-bottom: 1px solid #cccccc;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		color: #000;
	}


	.menu_branco a{
		font-size: 15px;
		color: #fff;
		font-family:"Lato Black";
	}

	/*.menu_branco .navbar-nav > li > a:last-child{
	background: none;
	}*/

	.menu_branco .navbar-nav > li > a{
		padding: 3px 10px;
		margin-top: 12px;
		background: url(../imgs/barra_vertical_topo.png) right center no-repeat;
	}

	.menu_branco .nav>li>a:hover,
	.menu_branco .nav>li>a:focus,
	.menu_branco .nav li a.active{
		border-bottom: 1px solid #cccccc;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
		color: #002953;
	}
	.telefone_topo{
		width: 129px;
		height: 60px;
		background:url(../imgs/atendimento_topo.png) no-repeat;
		padding-top: 25px;
		padding-left: 8px;
	}

	.telefone_topo_branco{
		width: 129px;
		height: 60px;
		background:url(../imgs/atendimento_topo_branco.png) no-repeat;
		padding-top: 25px;
		padding-left: 8px;
	}

	.telefone_topo p span{
		font-family: "Lato Bold";
		font-size: 13px;
		color: #000;
	}

	.telefone_topo_branco p span{
		font-family: "Lato Bold";
		font-size: 13px;
		color: #fff;
	}

	.telefone_topo_branco p{
		font-family:"Lato Black";
		font-size: 18px;
		color: #fff;
	}

	.telefone_topo p{
		font-family:"Lato Black";
		font-size: 18px;
	}

	.btn_topo .badge {
		display: inline-block;
		min-width: 10px;
		padding: 5px 8px;
		font-size: 12px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		background-color: #000;
		border-radius: 0px;
	}

	.btn_topo{
		cursor: pointer;
		position: relative;
	}

	.btn_topo .badge{
		position: absolute;
		top: 10px;
		left: 10px;
	}

	.topo-meu-orcamento{
		background:#fff;
		width:470px !important;
		margin-left: -274px;
		padding:15px;
	}


	.lista-itens-carrinho{
		margin: 10px 0px;
		overflow: hidden;
		border-bottom: 2px solid #e5e5e5;
		margin-bottom: 20px;
	}


	.lista-itens-carrinho h1{
		font-size: 16px !important;
		margin: inherit;
	}



	/**
	============================================
	TOPO
	============================================
	*/
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/* ------------------------------- BANNER  ------------------------------- */
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	#container_banner {
		width   :100%;
		height  :954px;
		margin  :0px auto;
		overflow:hidden;
		position: relative;
		margin-top: 0px;
		z-index: 1;
	}

	#content_slider {
		width      :1920px;
		position   :absolute;
		margin-left:-960px;
		top        :0px;
		left       :50%;
	}


	.container_fundo_servico {
		width: 100%;
		margin: 0px auto;
		overflow: hidden;
		position: relative;
		z-index: 1;

	}


	.content_fundo_servico {
		width: 1186px;
		min-height: 831px;
		position: absolute;
		margin-left: -959px;
		top: 0px;
		left: 50%;
		background: #fff;
	}

	.content_fundo_servico_dentro {
		width: 1186px;
		min-height: 831px;
		position: absolute;
		margin-left: -959px;
		top: 0px;
		left: 50%;
		background: #fff;
	}


	#content-slider-1 .rsContent{
		height: 100px;
		position: absolute;
		z-index: 1000;
		top: 100px;
	}

	#content-slider-1 .rsContent h1{
		font-size: 40px;
		color: #fff;
		font-family:"Lato Black";
		text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
	}

	#content-slider-1 .rsTabs {
		width: 150px;
		height: 50px;
		z-index: 9999;
		position: absolute;
		left: 396px;
		bottom:  20px;
		text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
	}

	#content-slider-1 .rsNavItem {
		background   : #fff;
		width        : 25px;
		opacity      : 0.4;
		height       : 25px;
		float        : left;
		margin-right : 10px;
		cursor       : pointer;
		border-radius: 50%;
		/*box-shadow: -2px 2px rgba(0,0,0,0.6);
		-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/



	}

	#content-slider-1 .rsNavSelected {
		opacity  : 1;
		background: #fff;
		/*box-shadow: -2px 2px rgba(0,0,0,0.6);
		-moz-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-webkit-box-shadow: -2px 2px rgba(0,0,0,0.6);
		-o-box-shadow: -2px 2px rgba(0,0,0,0.6);*/

	}


	/*arrow personalizados*/
	#container_banner .rsArrowLeft {
		display: block;
		/*width: 32px;
		height: 58px;*/
		background: url(../imgs/arrow_left.png) center no-repeat;
		z-index: 999;
		top: 214px;
		position: absolute;
		left: 668px;
	}

	#container_banner .rsArrowRight {
		display: block;
		/*width: 32px;
		height: 58px;*/
		background: url(../imgs/arrow_right.png) center no-repeat;
		z-index: 999;
		top: 214px;
		position: absolute;
		right: 378px;
	}
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/* ------------------------------- BANNER  ---------------------------- */
	/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
	/**/

	/**
	============================================
	rodape
	============================================
	*/

	.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}
	.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}




	/*breadcrumb  branco*/
	.breadcrumbs_branco .breadcrumb {
		font-size    :21px;
		background   : none;
		padding: 15px;
		margin-left: -52px;
		color: #fff;
	}


	.breadcrumbs_branco .breadcrumb i{
		border-radius: 50%;
		border       : 1px solid #fff;
		padding      :5px;
		color: #fff;
	}

	.breadcrumbs_branco .breadcrumb a i:hover{
		color: #444c69;
	}

	.breadcrumbs_branco .breadcrumb i:hover,
	.breadcrumbs_branco .breadcrumb a:hover{
		color:#fff;
	}

	.breadcrumbs_branco .breadcrumb>.active {
		color: #fff;
	}

	.breadcrumbs_branco .breadcrumb a {
		text-decoration: none;
		outline        : none;
		display        : block;
		float          : left;
		font-size      : 20px;
		font-family: "Lato Bold";
		line-height    : 36px;
		color          : #fff;
		padding        : 0 10px 0 24px;
		position       : relative;
	}

	.breadcrumbs_branco .breadcrumb a:hover {
		color          : #fff;
	}

	.breadcrumbs_branco .breadcrumb a:after {
		content : '';
		position: absolute;
		top     : 7px;
		right : -10px;
		width : 20px;
		height: 20px;
		transform: scale(0.707) rotate(45deg);
		z-index: 1;
		box-shadow: 2px -2px 0 2px rgba(255, 255, 255, 0.1),
		2px -2px 0 1px rgba(255, 255, 255,1);
		border-radius: 0 5px 0 50px;
	}

	.breadcrumbs_branco .breadcrumb a:last-child:after {
		content: none;
	}


	.div_personalizada{
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	.rodape{
		background: #dddddd;
	}

	.endereco_rodape p,.telefone_rodape p{
		color: #000000;
		font-size    : 19px;
		font-weight: 300;
	}

	.fa-google-plus:before {
		color: #002953;
	}

	.endereco_rodape .telefone_rodape p span{
		color: #000000;
		font-size    : 17px;
		font-weight  : 300;
		font-family: 'Lato', sans-serif !important;
	}
	.menu_rodape li a {
		color        : #000000;
		font-size    : 19px;
		font-weight  : 300;
		margin-right : 40px;
	}

	.icon-rodape {
		color: #000000;
	}

	.menu_rodape li:hover a,
	.menu_rodape li.active a{
		font-family: "Lato Bold";
		color: #000;
	}


	.menu_rodape {
		list-style : none;
		padding    : 0px;
	}

	.barra_branca {
		border-bottom  : 1px solid #fff;
		padding-bottom : 40px;
	}

	.menu_rodape li {
		float : left;
	}

	.rodape-preto h5 {
		font-size: 20px;
		color: #fff;
		font-weight: 300;
	}

	.rodape-preto {
		background: #000;
	}


	/**
	============================================
	rodape
	============================================
	*/

	/**
	============================================
	HOME
	============================================
	*/
	#carousel-example-generic-equipe .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{bottom:-43px; left: 648px;}
	#carousel-example-generic-equipe .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:20px;height:20px;background:#7f7f7f;border:none;margin-right:5px!important;}
	#carousel-example-generic-equipe .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
	#carousel-example-generic-equipe .carousel-control.left,#carousel-example-generic-equipe .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
	#carousel-example-generic-equipe .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:550px;top:292px;width:25px;height:25px;z-index:100;}
	#carousel-example-generic-equipe .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:0px;top:292px;width:40px;height:40px;z-index:100;}
	#carousel-example-generic-equipe .fa-chevron-left,#carousel-example-generic-equipe .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:20px;color:#000;}
	/*.slider-parceiros-equipe .bg_imagem {background: url(../imgs/topo_menu_hover.png);min-height: 90px;}*/
	.lista-parceiros h1{	font-family: 'Lato', sans-serif !important;font-size: 25px;color: #000;font-weight: 300;margin: 0; height: 50px; overflow: hidden;}
	.lista_parceiros_clientes .desc_titulo{overflow: hidden;height: 67px;}
	#carousel-example-generic-clientes .carousel-indicators {position: absolute;bottom: 10px;left: 84%;z-index: 1;height: 60px;width: 80%;padding-left: 0;margin-left: -30%;text-align: center;list-style: none;}
	.bg_imagem{position: relative;}
	.lista-parceiros img{
		border-radius: 10px;
	}



	.stylish-input-group .input-group-addon{
		border:0;
		border-left:0px ;
		height:50px;background:#fff;
	}
	.stylish-input-group .form-control{
		font-size:17px;
		color:#000;
		height:50px;
		width: 268px;
		border-radius:0px;
		border:0;
		border-left:1px solid #dcdcdc ;
		background:#fff;
	}
	.stylish-input-group button{
		font-size:20px;
		border:0;
		background:#fff;
	}


	.produtos-home{
		position   : relative;
		min-height : 240px;
		padding    :0px;
	}

	.produtos-home h1{
		overflow   :hidden;
		height     :46px;
		font-weight:400;
		font-size  : 20px;
		color      :#000;
	}



	.produto-hover {
		left        : 5px;
		z-index     : 9;
		background  : url(../imgs/fundo-transparente.png);
		width       : 252px;
		height      : 191px;
		position    : absolute;
		top         : 5px;
		opacity     : 0;
		padding-top : 80px;
	}

	.bg_empresa_home{
		background: url(../imgs/bg_conheca_home.jpg) center top no-repeat ;
		min-height: 1272px;
	}

	.bg_branco{
		background: #fff;
		max-height: 467px;
		padding: 50px 20px 10px 20px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	}



	.btn_home_emp {
		border-radius: 0;
		font-size: 16px;
		color: #fff;
		font-family:"Lato Black";
		padding: 15px 25px;
		background: #002953;
	}

	.btn_home_emp:hover {
		background: #001a3e;
		color: #fff;
	}

	.servico_desc{
		overflow: hidden;
		max-height: 305px;
	}

	.bg_dicas_home{
		height:700px;
		overflow: hidden;
		position: relative;
		margin-top: 0px;
		z-index: 1;
		width: 100%;
		height: 500px;
		margin: 0px auto;

	}

	.img_dicas {
		height:436px;
		width: 1920px;
		background: url(../imgs/bg_dicas_home.jpg) no-repeat;
		position: absolute;
		margin-left: -738px;
		top: 65px;
		left: 50%;
	}



	/**
	============================================
	HOME
	============================================
	*/


	/**
	============================================
	EMPRESA
	============================================
	*/
	.img_bord_emp{
		position: relative;
	}

	.img_empresa{
		border: 6px solid #fff;
		width: 530px;
		height: 314px;
		position: absolute;
		left :28px;
		top: 12px;
	}

	.bg_cinza{
		background: #eaeaea;
	}

	.bg_branco_empresa{
		margin-top: 150px;
		background: #fff;
		min-height: 261px;
		padding: 20px 26px;

	}

	.bg_branco_produtos	{
		background: #fff;
	}

	.bg_branco_produtos_dentro{
		background: #fff;
		-webkit-box-shadow: inset 0px -3px 25px 0px rgba(234,234,234,1);
		-moz-box-shadow: inset 0px -3px 25px 0px rgba(234,234,234,1);
		box-shadow: inset 0px -3px 25px 0px rgba(234,234,234,1);

	}


	/**
	============================================
	EMPRESA
	============================================
	*/

	/**
	============================================
	DICAS
	============================================
	*/

	.dicas_geral .thumbnail{
		padding: 14px;
		border-radius: 0;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	}

	.dicas_geral .desc_titulo{
		height: 45px;
		overflow: hidden;
	}

	.dicas_geral{
		position: relative;
	}

	.produto-hover {
		left: 30px;
		background: url(../imgs/fundo_transparente.png);
		width: 330px;
		height: 197px;
		position: absolute;
		top: 15px;
		opacity: 0;
	}

	.produto-hover .fa-plus-circle {
		color: #000;
		opacity: 0.5;
		width: auto;
		height: auto;
		text-align: center;
	}

	.produto-hover a{
		width: 340px;
		height: 197px;
	}
	.produto-hover .fa-plus-circle:hover {
		color: #000;
	}

	.titulo_interno h4{
		margin-top: 213px;
		font-size: 30px;
	}

	.fornecedor_geral a{
		text-decoration: none;
	}

	.fornecedor_geral .thumbnail{
		padding: 25px 0 25px 0;
		min-height: 284px;
		-webkit-box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.35);
		-moz-box-shadow:    0px -5px 7px 0px rgba(0, 0, 0, 0.35);
		box-shadow:         0px -5px 7px 0px rgba(0, 0, 0, 0.35);
	}


	/**
	============================================
	DICAS
	============================================
	*/




	/**
	============================================
	FALE CONOSCO
	============================================
	*/
	.btn_formulario{
		border-radius: 0;
		font-size: 20px;
		font-family:"Lato Black";
		color: #fff;
		padding: 15px 25px;
		background: #002953;
	}

	.btn_topo_orcamento{
		border-radius: 0;
		font-size: 15px;
		font-family:"Lato Black";
		color: #fff;
		padding: 5px 15px;
		background: #002953;
	}

	.btn_formulario:hover,.btn_topo_orcamento:hover{
		background: #002248;
		color: #fff;
	}

	.fundo-form1{
		background: #eeeeee;
		border: 1px solid #6e6e6c;
	}

	.fundo_formulario .form-control:focus{
		border-color: #414244;
	}

	.fundo_formulario .has-feedback .form-control {
		padding-left: 40px;
	}

	.form-inline .has-feedback .form-control-feedback {
		left: 0;
	}

	.telefone_contatos h2{
		color: #002953;
	}

	.fundo_formulario h3{
		font-size: 20px;
		font-family:"Lato Black";
		color: #000;
	}

	.fundo_formulario blockquote{
		padding: 2px 10px;
		margin: 0 0 0 14px;
		font-size: 17.5px;
		border-left: 9px solid #002953;
	}

	.fundo_formulario span{
		color: #002953;
	}

	.mapa iframe{
		border: 10px solid #fff;
	}

	.telefone_contatos li a:hover{
		opacity: .9;
	}

	.menu_contatos li a.active{
		background: #75899e;
		border-radius: 0;
	}

	.menu_contatos h4{
		color: #fff;
		font-size: 15px;
	}

	.menu_contatos h4 span{
		color: #fff;
		font-size: 22px;
	}

	.menu_contatos .nav-tabs>li >a{
		background-color: #002953;
		opacity: .5;
	}

	.menu_contatos .nav-tabs>li.active>a, .menu_contatos .nav-tabs>li.active>a:focus, .menu_contatos .nav-tabs>li.active>a:hover {
		cursor: default;
		opacity: 1;
		background-color: #002953;
		border: 1px solid #ddd;
		border-bottom-color: transparent;
	}

	.menu_contatos .nav-tabs>li {
		float: left;
		margin-bottom: 9px;
	}
	/**
	============================================
	FALE CONOSCO
	============================================
	*/


	/**
	============================================
	ORCAMENTOS
	============================================
	*/
	.tabela_carrinho thead th{background:#d41f2b;padding:10px 5px;}
	.tabela_carrinho table{font-size:15px;color:#000;font-weight:400; height: 100px;}
	.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{font-size: 14px;vertical-align:middle;border-bottom:1px solid #444c69;padding:10px 5px;}
	.fa-times-circle::before{
		color:#002953;
		text-shadow:-1px 2px 2px #000000;

	}
	.bg_cinza{
		background: #eaeaea;
		overflow: hidden;
	}


	.tabela_carrinho h3,.fundo_formulario h3{
		color: #000;
		font-size: 25px;
		margin-bottom: 20	px;
		font-family: "Lato Bold";
	}

	.input-lista-prod-orcamentos {
		width: 40px;
		min-height: 36px !important;
		text-align: center;
		background: #444c69;
		color: #fff;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 13px;
	}

	.carrinho_servcos{
		width: 46px;
		height: 32px	;
	}

	.borda .media{
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		height: 79px;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		height: 79px;
	}



	.borda_home .media{
		border-bottom: 1px solid #cccccc;
		padding-bottom: 14px;
		max-height: 128px;
		width: 428px;
		padding-bottom: 14px;
		max-height: 128px;
		width: 428px;
	}

	.img_home_lojas {
		width: 421px;
	}
	.img_home_lojas {
		width: 421px;
	}

	/**
	============================================
	ORCAMENTOS
	============================================
	*/
	/**
	============================================
	PRODUTOS
	============================================
	*/
	.descricao_tipo_produto span{
		text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
		color: #fff;
		font-family:"Lato Black";
	}

	.descricao_tipo_produto #centro{
		color: #fff;
		font-family:"Lato Black";
		margin-top: 15px;
		font-size: 16px;
		background: url(../imgs/fundo_transparente_prod.png);
		padding: 25px 15px;
		width: 273px;
	}

	.descricao_tipo_produto #telefone{
		color: #000;
		font-family:"Lato Black";
		background: url(../imgs/bg_transparente_branco.png);
		padding: 11px 15px 22px 15px;
		margin-left: -3px;
	}

	#telefone{
		font-size: 31px;
	}

	#telefone strong{
		font-size: 21px;
		font-family:"Lato Bold";

	}

	.produtos_dentro_desc h1{
		font-size: 30px;
		color: #000;
	}


	.fornecedor_geral img{
		width: 249px;
		height: 128px !important;
	}

	.fornecedor_geral .desc_titulo{
		width: 100%;
		overflow: hidden;
	}

	/**
	============================================
	PRODUTOS
	============================================
	*/
	/**
	============================================
	Pinterest-like Responsive Grid
	============================================
	*/

	#pinBoot {
		position: relative;
		max-width: 100%;
		width: 100%;
	}
	.pintrest iframe {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.pintrest img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.white-panel {
		position: absolute;
		background: white;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
		padding: 10px;
	}

	.white-panel:hover {
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		margin-top: -5px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	/*
	stylize any heading tags withing white-panel below
	*/

	.btn_area_restita{
		background: url(../imgs/fundo1111.png);
		color: #fff;
	}


	
.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 9999;
    width: 100px;
    height: 80px;
  }