/* ============= RESET ============= */
* { margin: 0px; padding: 0px; font-size: 100%; border: none; outline: none;; font-weight: 300; box-sizing: border-box;}
/* ============= RESET ============= */


/* ============= FONTS ============= */
@font-face {
    font-family: "Lato";
    src: url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
  }
body{font-family: "Lato"; font-size: 16px;}
/* ============= FONTS ============= */


/* ============= COLUNAS ============= */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 8px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.bottom50{margin-bottom: 3.13rem /* 50/16 */;}
/* ============= COLUNAS ============= */


.input100{width: 100%;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
.clearfix{clear: both;}
.img-circle{border-radius: 50%;}
.top10{margin-top: 10px;}
.top35{margin-top: 35px;}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary{
    background: #032852;
    color: #fff;
}


h1{font-size: 1.875rem;} /*30px*/
h2{font-size: 1.0625rem; color: #000; font-weight: 900;} /*17px*/
h3{font-size: 1.25rem; color: #000; font-weight: 900;}  /*20px*/

p{font-size: 0.875rem; color: #000; text-align: justify;}
a, a:visited{text-decoration: none;}
