/* =============== EMPRESA =============== */
.localizacao-pagina{
    height: 185px;
    padding-top: 45px;
}
.localizacao-pagina h1, .localizacao-pagina p{
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.desc-empresa{margin-top: 30px;}
.lista-dicas p{height: 54px; overflow: hidden;}
.lista-fornecedores{border: 1px solid #000; padding: 10px;}
.input-form{height: 50px; background: #eeeeee; border: 1px solid #000; color: #000; padding: 10px 36px; margin-bottom: 5px; margin-top: 5px;}
.campo-textarea{height: 100px}
.input-form1 {
    height: 50px;
    background: #eeeeee;
    border: 1px solid #000;
    color: #000;
    padding: 14px 36px;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 16px;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */

.lista-produto{
    position: relative;
}

.bg-texto-produto{
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
    background: #000;
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.lista-produto h2{
    opacity: initial;
    color: #fff;
    text-align: center;
    font-weight: 900;
}

.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}


.input-lista-prod-orcamentos{background: #e5e5e5; width: 30px; height: 30px; text-align: center;}
.tabela-orcamento tbody tr td{border-bottom: 1px solid #e5e5e5; padding: 5px 0px;}

.bg-index {
    background: url("./imgs/bg-index.jpg") top center no-repeat;
}

.font-index h1{
    color: #fff;
    font-size: 2.0625rem;
    font-weight: 900;
    margin-top: 10px;
}

.font-index h5 {
    font-size: 1.0625rem;
    color: #fff;
    font-effect: 400;
}

.font-index p{
    color: #fff;
    font-size: 0.8125rem;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.75);
    font-weight: 900;
    text-align: center;
}

.index-bg-icones{
    min-height: 19px;
    padding: 10px 7px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    text-align: center;
}

.relativo {
    position: relative;
}

.trabalhe_conosco .form-control-feedback {
    position: absolute;
    color: #000;
    top: 1.2rem;
    left: 0.63rem /* 10/16 */;
}

.trabalhe_conosco .curriculo b {
    top: 6px;
    left: 36px;
    position: absolute;
}
.trabalhe_conosco b {
    font-size: .88rem;
    color: #000;
}
