.topo{background: #fff; text-align: center;padding: 15px 0px;}
.rodape{background: #032852; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 0px 0px 0px 0px; }
.rodape a{color: #fff; text-decoration: none; font-size: 0.8125rem;}
.separador-rodape{height: 100px;}
.btn-topo{background: none; color: #000;}

.menu-mobile-principal{background: #032852;}
.menu-mobile li{
    background: #fff;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #000;font-size: 1rem;}



.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 9999;
    width: 50px;
    height: 50px;
}